
.menu-lateral{
    height: 600px;
    
}
div.menu-lateral a{
    color: beige;
} 
.painel-central{
   padding: 2%;
}
iframe{
    border: none;
    width: 100%;
    height: 100%;
}
.abas a{
    color: #696969;
}
.tab-pane{
    margin-top: 30px;
}